In [8]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [115]:
# csv file path
csv_path = os.path.join(os.getcwd(),'../', 'DATA')
file_11 = os.path.join(csv_path, '11.csv')
file_12 = os.path.join(csv_path, '12.csv')
file_13 = os.path.join(csv_path, '13.csv')
file_21 = os.path.join(csv_path, '21.csv')

In [116]:
# csv file read
df_11 = pd.read_csv(file_11)
df_12 = pd.read_csv(file_12)
df_13 = pd.read_csv(file_13)
df_21 = pd.read_csv(file_21)
print(df_11.shape)
print(df_12.shape)
print(df_13.shape)
print(df_21.shape)

(1002, 10)
(1002, 10)
(1002, 10)
(5084, 10)

In [117]:
# 11.csv
print(df_11.head())
print(df_11.info())
print(df_11.loc[1].max)

# 일 주일 간의 데이터가 있음
# 2004년 1월 1일부터 2023년 2월 27일까지의 데이터

           일자       시가       고가       저가       종가 TRIX 기준선 매수     매수청산  \
0  2023/02/27  0.68792  0.68792  0.66975  0.67404           0        0
1  2023/02/21  0.69447  0.69447  0.67215  0.68137           0  0.68137
2  2023/02/13  0.69736  0.70375  0.68170  0.69158           0        0
3  2023/02/06  0.70150  0.70190  0.68645  0.69322           0        0
4  2023/01/30  0.69935  0.71685  0.69285  0.70365           0        0

        매도 매도청산  Unnamed: 9
0        0    0         NaN
1  0.68137    0         NaN
2        0    0         NaN
3        0    0         NaN
4        0    0         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일자           1001 non-null   object
 1   시가           1001 non-null   float64
 2   고가           1001 non-null   float64
 3   저가           1001 non-null   float64
 4   종가           1001 non-null   float64
 5   TRIX 기준선 매수  1001 non-null   object
 6   매수청산         1001 non-null   object
 7   매도           1001 non-null   object
 8   매도청산         1001 non-null   object
 9   Unnamed: 9   0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 78.4+ KB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 일자             2023/02/21
시가                0.69447
고가                0.69447
저가                0.67215
종가                0.68137
TRIX 기준선 매수             0
매수청산              0.68137
매도                0.68137
매도청산                    0
Unnamed: 9            NaN
Name: 1, dtype: object>

In [118]:
#  12.csv
print(df_12.head())
print(df_12.info())
print(df_12.일자)
# 2004년 1월 2일부터 2023년 2월 27일까지의 데이터

           일자       시가       고가       저가       종가 MACD 기준선 매수     매수청산  \
0  2023/02/27  0.68792  0.68792  0.66975  0.67406           0        0
1  2023/02/21  0.69447  0.69447  0.67215  0.68137           0        0
2  2023/02/13  0.69736  0.70375  0.68170  0.69158           0        0
3  2023/02/06  0.70150  0.70190  0.68645  0.69322           0  0.69322
4  2023/01/30  0.69935  0.71685  0.69285  0.70365           0        0

        매도 매도청산  Unnamed: 9
0        0    0         NaN
1        0    0         NaN
2        0    0         NaN
3  0.69322    0         NaN
4        0    0         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일자           1001 non-null   object
 1   시가           1001 non-null   float64
 2   고가           1001 non-null   float64
 3   저가           1001 non-null   float64
 4   종가           1001 non-null   float64
 5   MACD 기준선 매수  1001 non-null   object
 6   매수청산         1001 non-null   object
 7   매도           1001 non-null   object
 8   매도청산         1001 non-null   object
 9   Unnamed: 9   0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 78.4+ KB
None
0       2023/02/27
1       2023/02/21
2       2023/02/13
3       2023/02/06
4       2023/01/30
           ...
997     2004/01/19
998     2004/01/12
999     2004/01/05
1000    2004/01/02
1001           NaN
Name: 일자, Length: 1002, dtype: object

In [119]:
#count = true
print(len(df_11.시가==df_12.시가))
print(list(df_11.시가==df_12.시가).count(True))

1002
1001

In [120]:
# 13.csv
print(df_13.head())
print(df_13.info())
print(df_13.일자)
# 2004년 1월 2일부터 2023년 2월 27일까지의 데이터
print(len(df_12.시가==df_13.시가))
print(f'if 12 와 13이 같은지 판별 {list(df_12.시가==df_13.시가).count(True)}')

           일자       시가       고가       저가       종가 TRIX 크로스 매수     매수청산  \
0  2023/02/27  0.68792  0.68792  0.66975  0.67406           0        0
1  2023/02/21  0.69447  0.69447  0.67215  0.68137           0        0
2  2023/02/13  0.69736  0.70375  0.68170  0.69158           0        0
3  2023/02/06  0.70150  0.70190  0.68645  0.69322           0  0.69322
4  2023/01/30  0.69935  0.71685  0.69285  0.70365           0        0

        매도 매도청산  Unnamed: 9
0        0    0         NaN
1        0    0         NaN
2        0    0         NaN
3  0.69322    0         NaN
4        0    0         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일자           1001 non-null   object
 1   시가           1001 non-null   float64
 2   고가           1001 non-null   float64
 3   저가           1001 non-null   float64
 4   종가           1001 non-null   float64
 5   TRIX 크로스 매수  1001 non-null   object
 6   매수청산         1001 non-null   object
 7   매도           1001 non-null   object
 8   매도청산         1001 non-null   object
 9   Unnamed: 9   0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 78.4+ KB
None
0       2023/02/27
1       2023/02/21
2       2023/02/13
3       2023/02/06
4       2023/01/30
           ...
997     2004/01/19
998     2004/01/12
999     2004/01/05
1000    2004/01/02
1001           NaN
Name: 일자, Length: 1002, dtype: object
1002
if 12 와 13이 같은지 판별 1001

In [121]:
# 21.csv
print(df_21.head())
print(df_21.info())
print(df_21.일자)

           일자       시가       고가       저가       종가 TRIX 기준선 매수 매수청산 매도 매도청산  \
0  2023/03/03  0.67315  0.67545  0.67300  0.67530           0    0  0    0
1  2023/03/02  0.67590  0.67675  0.67080  0.67305           0    0  0    0
2  2023/03/01  0.67350  0.67860  0.66975  0.67540           0    0  0    0
3  2023/02/28  0.67410  0.67610  0.67065  0.67375           0    0  0    0
4  2023/02/27  0.67305  0.67480  0.67015  0.67385           0    0  0    0

   Unnamed: 9
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5084 entries, 0 to 5083
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일자           5083 non-null   object
 1   시가           5083 non-null   float64
 2   고가           5083 non-null   float64
 3   저가           5083 non-null   float64
 4   종가           5083 non-null   float64
 5   TRIX 기준선 매수  5083 non-null   object
 6   매수청산         5083 non-null   object
 7   매도           5083 non-null   object
 8   매도청산         5083 non-null   object
 9   Unnamed: 9   0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 397.3+ KB
None
0       2023/03/03
1       2023/03/02
2       2023/03/01
3       2023/02/28
4       2023/02/27
           ...
5079    2003/03/20
5080    2003/03/19
5081    2003/03/18
5082    2003/03/17
5083           NaN
Name: 일자, Length: 5084, dtype: object

In [122]:
print(df_21.일자)
# df_21은 2003년 3월 17일부터 2023년 3월 3일까지의 데이터

0       2023/03/03
1       2023/03/02
2       2023/03/01
3       2023/02/28
4       2023/02/27
           ...
5079    2003/03/20
5080    2003/03/19
5081    2003/03/18
5082    2003/03/17
5083           NaN
Name: 일자, Length: 5084, dtype: object

In [123]:
# 각 파일들에 대해 다른 것이 무엇인지 확인
print(df_11.columns)
print(df_12.columns)
print(df_13.columns)
print(df_21.columns)

Index(['일자', '시가', '고가', '저가', '종가', 'TRIX 기준선 매수', '매수청산', '매도', '매도청산',
       'Unnamed: 9'],
      dtype='object')
Index(['일자', '시가', '고가', '저가', '종가', 'MACD 기준선 매수', '매수청산', '매도', '매도청산',
       'Unnamed: 9'],
      dtype='object')
Index(['일자', '시가', '고가', '저가', '종가', 'TRIX 크로스 매수', '매수청산', '매도', '매도청산',
       'Unnamed: 9'],
      dtype='object')
Index(['일자', '시가', '고가', '저가', '종가', 'TRIX 기준선 매수', '매수청산', '매도', '매도청산',
       'Unnamed: 9'],
      dtype='object')

In [124]:
# 매수 청산이 같은지 확인
print(f'len of df_11,df_12 {len(df_11.매수청산==df_12.매수청산)}')
print(f'11 매수청산과 12 매수청산 같은지 확인 {list(df_11.매수청산==df_12.매수청산).count(True)}')

print(f'len of df_11,df_13 {len(df_11.매수청산==df_13.매수청산)}')
print(f'11 매수청산과 13 매수청산 같은지 확인 {list(df_11.매수청산==df_13.매수청산).count(True)}')

print(f'len of df_12,df_13 {len(df_12.매수청산==df_13.매수청산)}')
print(f'12 매수청산과 13 매수청산 같은지 확인 {list(df_12.매수청산==df_13.매수청산).count(True)}')

len of df_11,df_12 1002
11 매수청산과 12 매수청산 같은지 확인 881
len of df_11,df_13 1002
11 매수청산과 13 매수청산 같은지 확인 866
len of df_12,df_13 1002
12 매수청산과 13 매수청산 같은지 확인 875

In [125]:
# 매도가 같은지 확인
print(f'len of df_11,df_12 {len(df_11.매도==df_12.매도)}')
print(f'11 매도가와 12 매도가 같은지 확인 {list(df_11.매도==df_12.매도).count(True)}')

print(f'len of df_11,df_13 {len(df_11.매도==df_13.매도)}')
print(f'11 매도가와 13 매도가 같은지 확인 {list(df_11.매도==df_13.매도).count(True)}')

print(f'len of df_12,df_13 {len(df_12.매도==df_13.매도)}')
print(f'12 매도가와 13 매도가 같은지 확인 {list(df_12.매도==df_13.매도).count(True)}')

len of df_11,df_12 1002
11 매도가와 12 매도가 같은지 확인 882
len of df_11,df_13 1002
11 매도가와 13 매도가 같은지 확인 866
len of df_12,df_13 1002
12 매도가와 13 매도가 같은지 확인 875

In [126]:
# 매도 청산이 같은지 확인 
print(f'len of df_11,df_12 {len(df_11.매도청산==df_12.매도청산)}')
print(f'11 매도청산과 12 매도청산 같은지 확인 {list(df_11.매도청산==df_12.매도청산).count(True)}')

print(f'len of df_11,df_13 {len(df_11.매도청산==df_13.매도청산)}')
print(f'11 매도청산과 13 매도청산 같은지 확인 {list(df_11.매도청산==df_13.매도청산).count(True)}')

print(f'len of df_12,df_13 {len(df_12.매도청산==df_13.매도청산)}')
print(f'12 매도청산과 13 매도청산 같은지 확인 {list(df_12.매도청산==df_13.매도청산).count(True)}')

len of df_11,df_12 1002
11 매도청산과 12 매도청산 같은지 확인 866
len of df_11,df_13 1002
11 매도청산과 13 매도청산 같은지 확인 861
len of df_12,df_13 1002
12 매도청산과 13 매도청산 같은지 확인 886

In [127]:
# unnamed: 0 확인 후 삭제
print(df_11.iloc[:,-1].isnull().sum())
print(df_12.iloc[:,-1].isnull().sum())
print(df_13.iloc[:,-1].isnull().sum())
print(df_21.iloc[:,-1].isnull().sum())

df_11.drop(df_11.columns[-1], axis=1, inplace=True)
df_12.drop(df_12.columns[-1], axis=1, inplace=True)
df_13.drop(df_13.columns[-1], axis=1, inplace=True)
df_21.drop(df_21.columns[-1], axis=1, inplace=True)

1002
1002
1002
5084

In [128]:
# 각 컬럼 이름 변경
df_11 = df_11.rename(columns={'일자': 'date',
                    '시가': 'open',
                    '고가': 'high',
                    '저가': 'low',
                    '종가': 'close',
                    'TRIX 기준선 매수': 'TRIX_buy',
                    '매수청산': 'TRIX_buy_clear',
                    '매도': 'TRIX_sell',
                    '매도청산': 'TRIX_sell_clear'})

df_12 = df_12.rename(columns={'일자': 'date',
                    '시가': 'open',
                    '고가': 'high',
                    '저가': 'low',
                    '종가': 'close',
                    'MACD 기준선 매수': 'MACD_buy',
                    '매수청산': 'MACD_buy_clear',
                    '매도': 'MACD_sell',
                    '매도청산': 'MACD_sell_clear'})

df_13 = df_13.rename(columns={'일자': 'date',
                    '시가': 'open',
                    '고가': 'high',
                    '저가': 'low',
                    '종가': 'close',
                    'TRIX 크로스 매수': 'TRIX_C_buy',
                    '매수청산': 'TRIX_C_buy_clear',
                    '매도': 'TRIX_C_sell',
                    '매도청산': 'TRIX_C_sell_clear'})

df_21 = df_21.rename(columns={'일자': 'date',
                    '시가': 'open',
                    '고가': 'high',
                    '저가': 'low',
                    '종가': 'close',
                    'TRIX 기준선 매수': 'TRIX_buy_day',
                    '매수청산': 'TRIX_buy_clear_day',
                    '매도': 'TRIX_sell_day',
                    '매도청산': 'TRIX_sell_clear_day'})

# 각 데이터프레임의 date 컬럼을 datetime으로 변경
df_11['date'] = pd.to_datetime(df_11['date'])
df_12['date'] = pd.to_datetime(df_12['date'])
df_13['date'] = pd.to_datetime(df_13['date'])
df_21['date'] = pd.to_datetime(df_21['date'])

In [129]:
# df_11, df_12, df_13를 하나의 데이터프레임으로 합치기
df_1 = pd.merge(df_11, df_12, how='inner', on=['date', 'open', 'high', 'low', 'close'])
df_1 = pd.merge(df_1, df_13, how='inner', on=['date', 'open', 'high', 'low', 'close'])
df_1

,date,open,high,low,close,TRIX_buy,TRIX_buy_clear,TRIX_sell,TRIX_sell_clear,MACD_buy,MACD_buy_clear,MACD_sell,MACD_sell_clear,TRIX_C_buy,TRIX_C_buy_clear,TRIX_C_sell,TRIX_C_sell_clear
0,2023-02-21,0.69447,0.69447,0.67215,0.68137,0,0.68137,0.68137,0,0,0,0,0,0,0,0,0
1,2023-02-13,0.69736,0.70375,0.68170,0.69158,0,0,0,0,0,0,0,0,0,0,0,0
2,2023-02-06,0.70150,0.70190,0.68645,0.69322,0,0,0,0,0,0.69322,0.69322,0,0,0.69322,0.69322,0
3,2023-01-30,0.69935,0.71685,0.69285,0.70365,0,0,0,0,0,0,0,0,0,0,0,0
4,2023-01-23,0.69271,0.71550,0.69271,0.70599,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,2004-01-19,0.74562,0.75750,0.74120,0.74787,,,,,0,0,0,0,,,,
997,2004-01-12,0.74318,0.75570,0.74070,0.74808,,,,,,,,,,,,
998,2004-01-05,0.73670,0.75390,0.73670,0.74965,,,,,,,,,,,,
999,2004-01-02,0.73670,0.73670,0.73670,0.73670,,,,,,,,,,,,
1000,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# df_1에서 TRIX_buy_clear와 TRIX_sell가 같은지 확인
print(f'len of df_1 {len(df_1.TRIX_buy_clear==df_1.TRIX_sell)}')
print(f'TRIX_buy_clear와 TRIX_sell 같은지 확인 {list(df_1.TRIX_buy_clear==df_1.TRIX_sell).count(True)}')

for i in range(len(df_1)):
    if df_1.TRIX_buy_clear[i] != df_1.TRIX_sell[i]:
        print(df_1.TRIX_buy_clear[i])
        print(df_1.TRIX_sell[i])

len of df_1 1001
TRIX_buy_clear와 TRIX_sell 같은지 확인 999
0
0.7455
nan
nan

In [131]:
# open에서 buy close에서 sell 수익률 확인 
df_1['open_buy_close_sell'] =(df_1['open']-df_1['close'])/df_1['open']

In [132]:
# df_1 columns rename
df_1 = df_1.rename(columns={'open': 'open_week',
                    'high': 'high_week',
                    'low': 'low_week',
                    'close': 'close_week'})

In [134]:
from sklearn.utils import resample  
# df_1을 일별 기준 단위로 resample (Day = D, Month = M, Year = Y, Week = W)
df_1 = df_1.set_index('date')
df_1_day = df_1.resample('D').last()
df_1_day

# df_21 데이터프레임에서 date 컬럼을 index로 변경
df_21 = df_21.set_index('date')
# df_21 2019-01-01 ~ 2023-02-21까지의 데이터만 추출
df_21=df_21['2019-01-01':'2023-02-21']

# df_all 데이터프레임 생성
# df_1_day = df_1_day.reset_index()
df_21 = df_21.reset_index()
df_all = pd.merge(df_1_day, df_21, how='inner', on=['date'])
df_all

,date,open_week,high_week,low_week,close_week,TRIX_buy,TRIX_buy_clear,TRIX_sell,TRIX_sell_clear,MACD_buy,...,TRIX_C_sell_clear,open_buy_close_sell,open,high,low,close,TRIX_buy_day,TRIX_buy_clear_day,TRIX_sell_day,TRIX_sell_clear_day
0,2019-01-02,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.70540,0.70590,0.69910,0.70080,0,0,0,0
1,2019-01-03,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.68930,0.70280,0.68250,0.70100,0,0,0,0
2,2019-01-04,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.70120,0.71320,0.70010,0.71240,0,0,0,0
3,2019-01-07,0.70741,0.72420,0.70741,0.71767,0,0,0,0,0.71767,...,0.71767,-0.014504,0.71290,0.71580,0.71220,0.71500,0,0,0,0
4,2019-01-08,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.71520,0.71580,0.71250,0.71470,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,2023-02-14,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.69705,0.70375,0.69280,0.69960,0,0.6996,0.6996,0
1040,2023-02-15,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.69925,0.69950,0.68705,0.69070,0,0,0,0
1041,2023-02-16,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.69095,0.69420,0.68455,0.69025,0,0,0,0
1042,2023-02-17,NaN,NaN,NaN,NaN,None,None,None,None,None,...,None,NaN,0.68800,0.68895,0.68170,0.68845,0,0,0,0
1043,2023-02-21,0.69447,0.69447,0.67215,0.68137,0,0.68137,0.68137,0,0,...,0,0.018863,0.68785,0.69260,0.68520,0.68585,0,0,0,0

In [136]:
df_1.to_csv('df_week.csv')
df_all.to_csv('df_day.csv')

In [162]:
df_all_0 = df_all.fillna(0)
# int로 변경
df_all_0['TRIX_buy'] = df_all_0['TRIX_buy'].astype(float)
df_all_0['TRIX_buy_clear'] = df_all_0['TRIX_buy_clear'].astype(float)

In [163]:
df_all_0

,date,open_week,high_week,low_week,close_week,TRIX_buy,TRIX_buy_clear,TRIX_sell,TRIX_sell_clear,MACD_buy,...,open,high,low,close,TRIX_buy_day,TRIX_buy_clear_day,TRIX_sell_day,TRIX_sell_clear_day,TRIX_buy_mk_true,TRIX_buy_clear_mk_true
0,2019-01-02,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.70540,0.70590,0.69910,0.70080,0,0,0,0,False,False
1,2019-01-03,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.68930,0.70280,0.68250,0.70100,0,0,0,0,False,False
2,2019-01-04,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.70120,0.71320,0.70010,0.71240,0,0,0,0,False,False
3,2019-01-07,0.70741,0.72420,0.70741,0.71767,0.0,0.00000,0,0,0.71767,...,0.71290,0.71580,0.71220,0.71500,0,0,0,0,True,True
4,2019-01-08,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.71520,0.71580,0.71250,0.71470,0,0,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,2023-02-14,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69705,0.70375,0.69280,0.69960,0,0.6996,0.6996,0,False,False
1040,2023-02-15,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69925,0.69950,0.68705,0.69070,0,0,0,0,False,False
1041,2023-02-16,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69095,0.69420,0.68455,0.69025,0,0,0,0,False,False
1042,2023-02-17,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.68800,0.68895,0.68170,0.68845,0,0,0,0,False,False
1043,2023-02-21,0.69447,0.69447,0.67215,0.68137,0.0,0.68137,0.68137,0,0,...,0.68785,0.69260,0.68520,0.68585,0,0,0,0,True,True

In [164]:
# Backtest
# 1. TRIX 기준선 매수
# 2. MACD 기준선 매수
# 3. TRIX 크로스 매수
# 4. TRIX 기준선 매수 + MACD 기준선 매수
# 5. TRIX 크로스 매수 + MACD 기준선 매수
# 6. TRIX 기준선 매수 + MACD 기준선 매수 + TRIX 크로스 매수

# 1. TRIX 기준선 매수
# 1-1. TRIX_buy가 None이 아닌 경우
mk_TRIX_buy_list = []
for i in range(len(df_all_0)):
    if df_all_0.TRIX_buy[i] == 0.0 :
        mk_TRIX_buy_list.append(False)
    else:
        mk_TRIX_buy_list.append(True)

df_all_0['TRIX_buy_mk_true'] = mk_TRIX_buy_list

# 1-2, TRIX_buy_clear가 None이 아닌 경우
mk_TRIX_buy_clear_list = []
for i in range(len(df_all_0)):
    if df_all_0.TRIX_buy_clear[i] == 0.00000 :
        mk_TRIX_buy_clear_list.append(False)
    else :
        mk_TRIX_buy_clear_list.append(True)

df_all_0['TRIX_buy_clear_mk_true'] = mk_TRIX_buy_clear_list

In [165]:
df_all_0

,date,open_week,high_week,low_week,close_week,TRIX_buy,TRIX_buy_clear,TRIX_sell,TRIX_sell_clear,MACD_buy,...,open,high,low,close,TRIX_buy_day,TRIX_buy_clear_day,TRIX_sell_day,TRIX_sell_clear_day,TRIX_buy_mk_true,TRIX_buy_clear_mk_true
0,2019-01-02,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.70540,0.70590,0.69910,0.70080,0,0,0,0,False,False
1,2019-01-03,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.68930,0.70280,0.68250,0.70100,0,0,0,0,False,False
2,2019-01-04,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.70120,0.71320,0.70010,0.71240,0,0,0,0,False,False
3,2019-01-07,0.70741,0.72420,0.70741,0.71767,0.0,0.00000,0,0,0.71767,...,0.71290,0.71580,0.71220,0.71500,0,0,0,0,False,False
4,2019-01-08,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.71520,0.71580,0.71250,0.71470,0,0,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,2023-02-14,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69705,0.70375,0.69280,0.69960,0,0.6996,0.6996,0,False,False
1040,2023-02-15,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69925,0.69950,0.68705,0.69070,0,0,0,0,False,False
1041,2023-02-16,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.69095,0.69420,0.68455,0.69025,0,0,0,0,False,False
1042,2023-02-17,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0,0,0,...,0.68800,0.68895,0.68170,0.68845,0,0,0,0,False,False
1043,2023-02-21,0.69447,0.69447,0.67215,0.68137,0.0,0.68137,0.68137,0,0,...,0.68785,0.69260,0.68520,0.68585,0,0,0,0,False,True

In [167]:
# buy와 buy_clear가 다른 경우 확인
df_all_0[df_all_0.TRIX_buy_mk_true!=df_all_0.TRIX_buy_clear_mk_true]
# for문 과 if 문을 이용해서 
# 이 데이터를 기준으로 매수와 매도 진행 가능 
# 1번 방법 ) 매수 진행 후 trix buy clear가 true가 될 떄까지 보유
# clear 후 trix buy가 true인 경우만 매수 진행

# 2번 방법 ) 매일 매수 매도 진행 
# open에서 buy close에서 sell but trix buy가 true인 경우만 매수 진행
# trix buy clear가 true인 경우만 매도 진행

,date,open_week,high_week,low_week,close_week,TRIX_buy,TRIX_buy_clear,TRIX_sell,TRIX_sell_clear,MACD_buy,...,open,high,low,close,TRIX_buy_day,TRIX_buy_clear_day,TRIX_sell_day,TRIX_sell_clear_day,TRIX_buy_mk_true,TRIX_buy_clear_mk_true
8,2019-01-14,0.71254,0.72320,0.71254,0.71942,0.71942,0.00000,0,0.71942,0,...,0.72180,0.72250,0.71830,0.72060,0,0,0,0,True,False
27,2019-02-11,0.71795,0.71795,0.70580,0.71115,0.00000,0.71115,0.71115,0,0,...,0.70930,0.71120,0.70610,0.70660,0,0,0,0,False,True
66,2019-04-08,0.71055,0.72030,0.70980,0.71503,0.71503,0.00000,0,0.71503,0,...,0.71170,0.71410,0.70980,0.71360,0,0,0,0,True,False
80,2019-04-29,0.71206,0.71206,0.69910,0.70350,0.00000,0.70350,0.7035,0,0,...,0.70480,0.70690,0.70460,0.70650,0,0,0,0,False,True
124,2019-07-01,0.69604,0.70640,0.69604,0.70195,0.70195,0.00000,0,0.70195,0,...,0.70450,0.70480,0.69730,0.69740,0,0,0,0,True,False
143,2019-07-29,0.70059,0.70059,0.67720,0.68563,0.00000,0.68563,0.68563,0,0,...,0.69200,0.69270,0.69060,0.69130,0,0,0,0,False,True
177,2019-09-16,0.68207,0.69000,0.67780,0.68360,0.68360,0.00000,0,0.6836,0,...,0.68840,0.69000,0.68700,0.68860,0,0,0,0,True,False
182,2019-09-23,0.68283,0.68283,0.67570,0.67855,0.00000,0.67855,0.67855,0,0,...,0.67840,0.67980,0.67820,0.67880,0,0,0,0,False,True
202,2019-10-21,0.68018,0.68930,0.68018,0.68503,0.68503,0.00000,0,0.68503,0,...,0.68610,0.68910,0.68500,0.68750,0.6875,0,0,0.6875,True,False
222,2019-11-18,0.68518,0.68518,0.67840,0.68083,0.00000,0.68083,0.68083,0,0,...,0.68200,0.68270,0.68030,0.68160,0,0,0,0,False,True
236,2019-12-09,0.68068,0.69370,0.68010,0.68612,0.68612,0.00000,0,0.68612,0.68612,...,0.68380,0.68390,0.68210,0.68330,0,0,0,0,True,False
264,2020-01-21,0.69208,0.69208,0.68230,0.68588,0.00000,0.68588,0.68588,0,0,...,0.68850,0.68980,0.68510,0.68540,0,0,0,0,False,True
326,2020-04-20,0.62436,0.64070,0.62436,0.63523,0.63523,0.00000,0,0.63523,0,...,0.63660,0.63980,0.63330,0.63470,0,0,0,0,True,False
438,2020-09-28,0.72236,0.72236,0.70330,0.71098,0.00000,0.71098,0.71098,0,0,...,0.70340,0.70760,0.70330,0.70700,0,0,0,0,False,True
468,2020-11-09,0.71254,0.73420,0.71254,0.72777,0.72777,0.00000,0,0.72777,0,...,0.72800,0.73420,0.72680,0.72940,0,0,0,0,True,False
558,2021-03-22,0.77507,0.77590,0.75655,0.76682,0.00000,0.76682,0.76682,0,0,...,0.77230,0.77590,0.77070,0.77560,0,0,0,0,False,True
578,2021-04-19,0.76601,0.78175,0.76601,0.77494,0.77494,0.00000,0,0.77494,0,...,0.77300,0.77865,0.77080,0.77615,0.77615,0,0,0.77615,True,False
608,2021-06-01,0.77489,0.77750,0.76455,0.77185,0.00000,0.77185,0.77185,0,0,...,0.77100,0.77695,0.77010,0.77640,0,0,0,0,False,True
676,2021-09-06,0.73247,0.74685,0.73247,0.74076,0.74076,0.00000,0,0.74076,0,...,0.74525,0.74580,0.74265,0.74370,0.7437,0,0,0.7437,True,False
686,2021-09-20,0.73423,0.73423,0.72220,0.72666,0.00000,0.72666,0.72666,0,0,...,0.72660,0.72710,0.72220,0.72400,0,0,0,0,False,True
701,2021-10-11,0.72831,0.74420,0.72831,0.73666,0.73666,0.00000,0,0.73666,0.73666,...,0.73090,0.73750,0.72935,0.73550,0,0,0,0,True,False
726,2021-11-15,0.74048,0.74048,0.72270,0.72913,0.00000,0.72913,0.72913,0,0,...,0.73310,0.73715,0.73235,0.73515,0,0,0,0,False,True
759,2022-01-03,0.72050,0.72780,0.71305,0.72160,0.72160,0.00000,0,0.7216,0,...,0.72700,0.72780,0.71845,0.71920,0,0,0,0,True,False
773,2022-01-24,0.72115,0.72115,0.69680,0.70788,0.00000,0.70788,0.70788,0,0,...,0.71755,0.71885,0.70915,0.71300,0,0,0,0,False,True
793,2022-02-22,0.71373,0.72850,0.70955,0.71966,0.71966,0.00000,0,0.71966,0,...,0.71735,0.72350,0.71675,0.72210,0,0,0,0,True,False
836,2022-04-25,0.74015,0.74015,0.70595,0.71635,0.00000,0.71635,0.71635,0,0,...,0.72525,0.72550,0.71400,0.71715,0,0,0,0,False,True
865,2022-06-06,0.71347,0.72495,0.70375,0.71385,0.71385,0.00000,0,0.71385,0,...,0.72130,0.72325,0.71860,0.71925,0,0,0,0,True,False
870,2022-06-13,0.71366,0.71366,0.68550,0.69768,0.00000,0.69768,0.69768,0,0,...,0.70430,0.70450,0.69160,0.69330,0,0,0,0,False,True
903,2022-08-01,0.69093,0.70515,0.68735,0.69576,0.69576,0.00000,0,0.69576,0,...,0.69945,0.70515,0.69725,0.70260,0,0,0,0,True,False
923,2022-08-29,0.69477,0.69575,0.67720,0.68579,0.00000,0.68579,0.68579,0,0,...,0.68865,0.69270,0.68420,0.69015,0,0,0,0,False,True
972,2022-11-07,0.64010,0.67240,0.63940,0.65675,0.65675,0.00000,0,0.65675,0,...,0.64300,0.64990,0.64150,0.64850,0.6485,0,0,0.6485,True,False
1043,2023-02-21,0.69447,0.69447,0.67215,0.68137,0.00000,0.68137,0.68137,0,0,...,0.68785,0.69260,0.68520,0.68585,0,0,0,0,False,True